---
title: Resources
---

<div class="w3-container section-light">
    <!-- extra spacer for under header -->
</div>

<div class="w3-container section-light">
    <!-- resoures -->
    <div class="w3-row">
    <div class="w3-col m6">
        <div class="w3-card w3-round-xlarge highlight spiritual w3-margin">
            <div class="top">
                <h2>&#10024; Spiritual Writings</h1>
            </div>
            <div class="bottom">
            <h3>Peace</h3>
            <p>&#x301D;We are not led to be peacemakers in one situation and to be violent in the next. The Spirit lays upon us both the burden
            of being peacemakers in all life situations, and also provides the means to lighten the load.&#x301E; —Lake Erie Yearly Meeting</p>
            <p align="right"><a href="{{baseurl}}/reference/peace-testimony">read more about the peace testimony</a></p>
            {{!-- <h3>How to help</h3>
            <p>""</p>
            <p align="right"><a href="{{baseurl}}/reference/listening">more about listening</a></p>
            <p>more words here</p> --}}
            </div>
        </div>
    </div>
    <div class="w3-col m6">
        <div class="w3-card w3-round-xlarge highlight meeting w3-margin">
            <div class="top">
         <h3>&#127968;  Resources for Meetings</h1>
                    </div>
                    <div class="bottom">

            <p>&#x301D;Abuse represents not only a private tragedy, but a community failure. May we build strong communities where no one is
            abused.&#x301E; —Jade Rockwell</p>
            <ul>
                <li>Wise as Serpents, Harmless as Doves:
                    A Spiritual Approach to Abuse Prevention in Friends Meetings 
                    (<a href="https://www.friendsjournal.org/wp-content/uploads/2022/03/Wise-as-serpents.pdf" target="new">pdf</a>, <a href="{{baseurl}}/media/wise-as-serpents.mp3">audio</a>)</li>
                <li><a href="{{baseurl}}/reference/common-testimony">Coming Together for Continuing Revelation: Common Testimony on Abuse</a></li>
            </ul>
        </div>
        </div>
    </div>
    </div>

</div>