---
title: Resources
---

<div class="w3-container section-light">
    <!-- extra spacer for under header -->
</div>

<div class="w3-container section-light">
    <!-- resoures -->
    <div class="w3-row">
    <div class="w3-col m6">
        <div class="w3-card w3-round-xlarge highlight spiritual w3-margin">
            <div class="top">
                <h3>&#10024; Spiritual Writings</h1>
            </div>
            <div class="bottom">
            <p>"We are not led to be peacemakers in one situation and to be violent in the next. The Spirit lays upon us both the burden
            of being peacemakers in all life situations, and also provides the means to lighten the load."</p>
            <p align="right"><a href="{{baseurl}}/reference/peace-testimony">read more about the peace testimony</a></p>
            <ul>
                <li>the Peace Testimony</li>
                <li>...</li>
                <li>...</li>
            </ul>
            <p>maybe words here</p>
            </div>
        </div>
    </div>
    <div class="w3-col m6">
        <div class="w3-card w3-round-xlarge highlight meeting w3-margin">
            <div class="top">
         <h3>&#127968;  Resources for Meetings</h1>
                    </div>
                    <div class="bottom">

            <p>maybe words here</p>
            <ul>
                <li>Wise as Serpents, Harmless as Doves:
                    A Spiritual Approach to Abuse Prevention in Friends Meetings</li>
                <li><a href="{{baseurl}}/reference/common-testimony">Coming Together for Continuing Revelation: Common Testimony on Abuse</a></li>
                <li>...</li>
            </ul>
        </div>
        </div>
    </div>
    </div>

</div>