---
title: Resources
---

<div class="w3-container section-light">
    <!-- extra spacer for under header -->
</div>

<div class="w3-container section-light">
    <!-- resoures -->
    <div class="w3-row-padding">
    <div class="w3-col m6">
        <h3>Spiritual</h1>
        <p>maybe words here</p>
        <ul>
            <li>the Peace Testimony</li>
            <li>...</li>
            <li>...</li>
        </ul>
    </div>
    <div class="w3-col m6">
        <h3>Resources for Meetings</h1>
        <p>maybe words here</p>
        <ul>
            <li>Wise as Serpents, Harmless as Doves:
                A Spiritual Approach to Abuse Prevention in Friends Meetings</li>
            <li><a href="{{baseurl}}/reference/common-testimony">Coming Together for Continuing Revelation: Common Testimony on Abuse</a></li>
            <li>...</li>
        </ul>
    </div>
    </div>

</div>