body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif
}

.w3-xxlarge-vw {
    font-size: 3.2vw;
}

body,
html {
    height: 100%;
    font-size: 1rem;
    --header-large-font-size: 2rem;
}

.page-headers {
    color: black;
}

.page-header .logo {
    height: 120px;
    margin-top: -20px;
    margin-left: -40px;
    margin-right: 10px
}


/* #bfb1c4; thistle */
/* #C3ACB1; rose quartz */
.spiritual {
    --highlight-color: #D1B3C2; /* alt thistle */
    
    --highlight-dark: #472836; /* eggplant */;
}

/* teal #82BAB1 */
/* YlMn Blue #485696 */
/* space cadet #283053 */

/* slate grey #7286A*/
/* deep navy #3d4756 */
.meeting {
    --highlight-color: #82BAB1; /* teal */
    --highlight-medium: #485696; /* YlMn Blue */
    --highlight-dark: #283053; /* space cadet */
}



/* pale green # C0DFC4*/
/* pale blue E3ECE4*/
.spot {
    --highlight-color: #E3ECE4;  
    --highlight-medium: #7286A2;
        /* slate grey */
    --highlight-dark: #3d4756;
    /* deep navy */
}



a {
    color: var(--highlight-dark);
}

footer {
    position: relative;
    height: 200px;
}
footer p {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    position: absolute;
    bottom: 0px;
    margin: 0px;
    text-align: center;
    width: 100%
}

footer a {
    color: #eaeaea;
}

a:hover {
    font-weight: 500;
    text-decoration: none; 
}

nav.section a {
    text-decoration: none;
    color: #eaeaea;
}

nav.section {
    position:fixed;
    background-color: var(--highlight-medium);
    left:0;
    top:140px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}



nav.section a.w3-bar-item[active] {
    background-color: var(--highlight-dark);
}
.section-highlight {
    padding: 64px 16px;
}

.spot .section-highlight {
    background-color: var(--highlight-color);
}

.spiritual .section-highlight {
    background-color: var(--highlight-color);
}

.meeting .section-highlight {
    background-color: var(--highlight-color);
}

.section-dark {
    background-color: black;
    color: var(--highlight-color);
    padding: 64px 16px;
}

.section-light {
    background-color: white;
    color: black;
    padding: 64px 16px;
}

.section-light h2 {
    font-size: 24px;
    color: var(--highlight-dark);
}
.section-light h3 {
    color: var(--highlight-dark);
}

.section-light .highlight {
    /* border-radius: 0px 0px 1rem 1rem; */
    /* border-bottom: solid 2px; */
    border-color: var(--highlight-color);
}

.section-light .highlight .top {
    border-radius: 1rem 1rem 0px 0px;
    background-color: var(--highlight-color);
    overflow: hidden;
    padding: 0px 1.5rem;
}

.section-light .highlight .bottom {
    padding: 1rem 1.5rem 1rem 1.5rem;
}


.w3-bar .w3-button {
    padding: 16px;
}

#myNavbar {
    background-color: #fffd;
    padding: 2vw 4vw;
}

.page-header .title {
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    text-decoration-line: none;
}

strong {
    font-weight: 500;
}
.page-header .subtitle {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    text-decoration-line: none;
}


.topspacer {
    width: 100%;
    height: calc(3.6rem*1.5 + 4vw);
}
/* custom sizes for small screens */
@media screen and (max-width: 640px) {
    .page-header .subtitle {
        font-size: 1rem;
    }
    .page-header .logo {
        height: 80px;
        margin-top: -10px;
        margin-left: -0px;
        /* margin-right: 10px */
    }
    .topspacer {
        width: 100%;
        height: calc(3rem*1.5 + 4vw);
    }
}
.header-menu-item {
    font-size: 1.2rem;
    overflow-wrap: break-word;
    text-decoration-line: none;
    font-weight: 300;
    padding: 0vw 2vw;
}


.content {
    max-width: 700px;
    margin: auto;
}

.reference h1 {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
}


.ref {
    padding: 10px 40px;
}

.profile {
    margin: 0px;
    top: 100px;
    width: 100%;
}

.profile .maintext {
    width: 50vw;
    padding: 5vw;
}

.profile img {
    width: 50vw;
    float: right;
    object-fit: cover;
}

@media screen and (max-width: 640px) {
    .profile img {
        width: 100%;
        height: 320px;
        object-fit: cover;
        object-position:0px -70px;
        float: none;
    }
    .profile .maintext {
        width: 100%;
        padding: 5vw;
    }
}