---
title: About Us
---

<div class="w3-container section-dark">
    <!-- extra spacer for under header -->
</div>

<!-- About Section -->
<div class="w3-container section-dark">
    <div class="w3-row-padding">
        <div class="w3-col m6">
            <p>In Quaker theology the divine is within each of us. It is through what we call “waiting worship” that we wait upon the
            divine to speak to our corporate whole — the divine within each of us, together made whole — in the waiting space. Our
            waiting worship is a space of corporate discernment, religious creativity, and right relationship.
            </p>
            <p>We are exploring how Quaker practice can help us effectively grapple with the realities of abuse in our own families and
            communities.</p>
        </div>

        <div class="w3-col m6">
    <img class="w3-image w3-round-large" src="./images/photomeeting2.jpg" alt="Large room with rows of wooden benches facing inward"
        width="700" height="394">
        </div>
    </div>
</div>

<div class="w3-container section-dark">
    <div class="w3-row-padding">
        <h3>The Listening Project</h3>
        <div class="w3-col m6">
            <p>
            Windy Cooler gathered Quakers from diverse backgrounds committed to spirit-led discernment on what our communities are
            called to do about abuse among us. They confidentially listened in waiting worship to the lived testimony of Friends and
            together created a tool for Quaker meetings everywhere.
            </p>
        </div>
        <div class="w3-col m6">
            <p><i>
            Why are we listeners offering “discernment” around the presence of abuse instead of offering policy solutions to an
            abuse problem as we understand it?
            </i></p>
            <p>
            Certainly some brave Friends have, for many decades, attempted just this kind of policy solution. And indeed there are
            policy solutions that exist in some meetings and in the world around us. The question we are asking is: have these
            solutions met our needs? Are we really aware of what our needs are? Are we living in that life and power?
            </p>
        </div>
    </div>
</div>

<div class="w3-container section-dark">
    <div class="w3-row-padding">
        <h3>Acknowledgements</h3>
        <p>We want to speak out of the silence, with gratitude, the contributions to the corporate whole of a few Friends in
        particular: <b>Judy Brutz, Windy Cooler, Sarah Allen, Margaret Webb, and J.T. Dorr-Bremme</b>.
        </p><p>
        <b>Windy</b> created the Listening Project. After carrying this concern for many years, she remains an elder supporting this
        effort, while she moves forward with a leading on how Quakers support public ministry.
        </p>
        <p> 
        <b>Margaret</b> is the former pastor at New Garden Friends in North Carolina. Margaret is the co-author, with Windy Cooler, of
        the discernment model that grounded the Listening Project and that Windy has used with Quaker communities in crisis for
        three years.
        </p>
        <b>Sarah</b> contributed the query that was the grounding for the listening project, based on the words of George Fox in 1651
        that have become known as the Quaker Peace Testimony. She now maintains this website, and with the accompaniment of
        several Friends, curates resources that may be helpful to Friends, who share these concerns.
        </p>
        <p>
        <b>JT</b> collaborated in public ministry with Windy from 2020 to 2022. During this time, he met and began
        accompanying Sarah as an elder for her ministry which eventually merged into Life and Power as Windy concluded 
        her active ministry on this project.
        </p>
        <p>
        <b>Judy</b> contributed to research on the topic of intimate violence in Quaker community, having two peer reviewed articles
        appear in the Journal of Marriage and Family in the mid-80s. Her research concluded that Quakers have the same rates of
        violence in the home as any other community.
        </p>
    </div>
</div>