{{> _head}}
<body>
{{> _navbar }}
<div class="w3-row profile">
    <div class="topspacer">
        <!-- takes up vertical space of page header -->
    </div>
    <img     width="958px" height="960px" src="{{ photo_url }}"/>
    <div class="maintext">
        {{{ body }}}
    </div>
</div>
{{> _footer}}


</body></html>