{{> _head}}

<body>
{{> _navbar }}
<div class="w3-container section-light" >
    <!-- extra spacer for under header -->
</div>
<div class="w3-container section-light reference">
<div class="content">
{{{ body }}}
</div>
</div>
</body>

</html>