body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif
}

body,
html {
    height: 100%;
    font-size: 1rem;
    --header-large-font-size: 2rem;
}

.page-header .logo {
    height: 120px;
    margin-top: -20px;
    margin-left: -40px;
    margin-right: 10px
}
.spiritual {
    --highlight-color: #bfb1c4; /* thistle */
    --highlight-dark: #472836; /* eggplant */;
}


.meeting {
    --highlight-color: #9DAABE; /* blue grey */
    --highlight-dark: #2E5266; /* charcoal blue */
}

.section-highlight {
    padding: 64px 16px;
}

.section-highlight.spiritual {
    background-color: var(--highlight-color);
}

.section-highlight.meeting {
    background-color: var(--highlight-color);
}

.section-dark {
    background-color: black;
    color: var(--highlight-color);
    padding: 64px 16px;
}

.section-light {
    background-color: white;
    color: black;
    padding: 64px 16px;
}

.section-light h2 {
    font-size: 24px;
}
.section-light h3 {
    color: var(--highlight-dark);
}

.section-light .highlight {
    /* border-radius: 0px 0px 1rem 1rem; */
    /* border-bottom: solid 2px; */
    border-color: var(--highlight-color);
}

.section-light .highlight .top {
    border-radius: 1rem 1rem 0px 0px;
    background-color: var(--highlight-color);
    overflow: hidden;
    padding: 0px 1.5rem;
}

.section-light .highlight .bottom {
    padding: 1rem 1.5rem 1rem 1.5rem;
}


.w3-bar .w3-button {
    padding: 16px;
}

#myNavbar {
    background-color: #fffd;
    padding: 2vw 4vw;
}

.page-header .title {
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    text-decoration-line: none;
}

.page-header .subtitle {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    text-decoration-line: none;
}

/* custom sizes for small screens */
@media screen and (max-width: 600px) {
    .page-header .subtitle {
        font-size: 1rem;
    }
    .page-header .logo {
        height: 80px;
        margin-top: -10px;
        margin-left: -0px;
        /* margin-right: 10px */
    }
}
.header-menu-item {
    font-size: 1.2rem;
    overflow-wrap: break-word;
    text-decoration-line: none;
    font-weight: 300;
    padding: 0vw 2vw;
}


.content {
    max-width: 700px;
    margin: auto;
}

.reference h1 {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
}


.ref {
    padding: 10px 40px;
}