body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif
}

body,
html {
    height: 100%;
    font-size: 1rem;
    --header-large-font-size: 2rem;
}

.spiritual {
    --highlight-color: #bfb1c4; /* thistle */;
}

.meeting {
    --highlight-color: #9DAABE; /* blue grey */
}

.section-highlight {
    padding: 64px 16px;
}

.section-highlight.spiritual {
    background-color: var(--highlight-color);
}

.section-highlight.meeting {
    background-color: var(--highlight-color);
}

.section-dark {
    background-color: black;
    color: var(--highlight-meeting);
    padding: 64px 16px;
}

.section-light {
    background-color: white;
    color: black;
    padding: 64px 16px;
}

.section-light .highlight {
    border-radius: 1rem;
    border: solid 2px;
    border-color: var(--highlight-color);
}

.w3-bar .w3-button {
    padding: 16px;
}

#myNavbar {
    background-color: #fffd;
    padding: 2vw 4vw;
}

.page-header .title {
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    text-decoration-line: none;
}

.page-header .subtitle {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    text-decoration-line: none;
}

.header-menu-item {
    font-size: 1.2rem;
    overflow-wrap: break-word;
    text-decoration-line: none;
    font-weight: 300;
    padding: 0vw 2vw;
}


.content {
    max-width: 700px;
    margin: auto;
}

.reference h1 {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
}


