<!-- Header with full-height image -->
<header class="w3-display-container w3-grayscale-min" id="home">
        <div class="image-background-overlay"></div>

<img alt=""
    {{!-- data-image-dimensions="3508x2480" data-image-focal-point="0.5340295601380654,0.2480310038754845" data-load="false" --}}
    {{!-- elementtiming="nbf-background" --}}
    src="images/baby-maggie.jpg"
    width="100%"
    style="display:block;
        object-position: 53.40295601380654% 24.803100387548447%;
        filter: brightness(40%)"
    sizes="(max-width: 799px) 200vw, 100vw"
    fetchpriority="high" loading="eager">
   {{!-- srcset="https://images.squarespace-cdn.com/content/v1/637c22f6f112811816c7852d/2357cb34-99e5-4449-80c8-3ea9dd2a8b4d/BabyMaggie.jpg?format=100w 100w, https://images.squarespace-cdn.com/content/v1/637c22f6f112811816c7852d/2357cb34-99e5-4449-80c8-3ea9dd2a8b4d/BabyMaggie.jpg?format=300w 300w, https://images.squarespace-cdn.com/content/v1/637c22f6f112811816c7852d/2357cb34-99e5-4449-80c8-3ea9dd2a8b4d/BabyMaggie.jpg?format=500w 500w, https://images.squarespace-cdn.com/content/v1/637c22f6f112811816c7852d/2357cb34-99e5-4449-80c8-3ea9dd2a8b4d/BabyMaggie.jpg?format=750w 750w, https://images.squarespace-cdn.com/content/v1/637c22f6f112811816c7852d/2357cb34-99e5-4449-80c8-3ea9dd2a8b4d/BabyMaggie.jpg?format=1000w 1000w, https://images.squarespace-cdn.com/content/v1/637c22f6f112811816c7852d/2357cb34-99e5-4449-80c8-3ea9dd2a8b4d/BabyMaggie.jpg?format=1500w 1500w, https://images.squarespace-cdn.com/content/v1/637c22f6f112811816c7852d/2357cb34-99e5-4449-80c8-3ea9dd2a8b4d/BabyMaggie.jpg?format=2500w 2500w" --}}


    <div class="w3-display-left image-overlay-text">
        <span class="w3-xxlarge-vw w3-col m6 w3-right">
            Do we live in the virtue of that life and power that takes away the occasion of child abuse, as well as intimate partner
            abuse and all forms of violence within the family and community?
            </span>
    </div>

</header>

<!-- Highlight Section - "Quaker Peace Testimony" -->
<div class="spiritual">
<div class="w3-container  section-highlight" style="padding:16px">
    <div class="w3-row-padding">
                <div class="w3-col m1">
                    <img src="{{baseurl}}/images/tpt-dove-of-peace.png" 
                        width="100" style="padding-right: 16px;
    padding-top: 20px;" />
</div>
        <div class="w3-col m5">
            <p>In 1651, George Fox refused to take up arms against Charles Stuart, saying that he
            
                "<strong>lived in the virtue of that life and power that took away the occasion of all wars</strong>."
                He chose instead to remain in prison.
            </p>
        </div>

        <div class="w3-col m5">

            <p> Many Quakers have taken personal risks or spoken out against violence. Collectively, this
                Witness to divine leading has become known as the <a href="{{baseurl}}/reference/peace-testimony">Peace
                Testimony</a>.</p>
            
        </div>

    </div>
    </div>
</div>





<!-- Highlight Section for Common Testimony -->
<div class="spot">
<div class="w3-container section-highlight">
    <div class="w3-row-padding">
        <div class="w3-col m6">
            <h3>Facing this reality together</h3>
            <p>Quakers from diverse backgrounds listened to spirit-led discernment on what our communities were called to do about
                abuse among us.</p>
            <p>
            This listening led to a “Common Testimony on Abuse,” along with
            a process for Quaker meetings to effectively use this resource.  
            The process, called “Coming Together for Continuing Revelation,” draws from
            familiar practices to find a path forward in discerning next steps
            in our communities.  
            </p>
            {{!-- <p>
            Windy Cooler, convener of this listening project, introduces
            the Common Testimony and provides background context and a guide.
            </p> --}}

            <p><a href="{{baseurl}}/reference/common-testimony/intro-letter" 
            class="w3-button w3-black">Learn More</a></p>
            </div>

        <div class="w3-col m6">
            {{!-- <h3>&nbsp;</h3> --}}
            <img src="{{baseurl}}/images/listener-collage.png" width="100%"/>

        </div>
    </div>
</div>
</div>


